<nav class="navbar navbar-expand-lg mynav d-flex justify-content-between">

    <div class="container">
      <a class="navbar-brand mybrand" href="#"><img src="https://t3.ftcdn.net/jpg/02/36/68/14/240_F_236681486_kNcIZz6FAlSCaFAVf4nqryrNjCAiFT1q.jpg">Connect-zilla</a>
    </div>
      <div class="collapse navbar-collapse rightside d-flex justify-content-evenly" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto ">
          <li class="nav-item">
          <button class="btn btn-primary" ><a class="nav-link " href="#" style="color: black;">AboutUs</a></button>
          </li>
          <li class="nav-item">
          <button class="btn btn-primary"><a style="color: black; width: 190px; " class="nav-link" href="#">Create an Account</a></button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="https://image.flaticon.com/icons/png/128/3306/3306630.png"></a>
            </li>
           

        
        </ul>
        
      </div>
    
  </nav>

  <div class="main_content container">
    <div class="row">
        <div class="col-6 ">
       
        <br>

         
          <div class="main_con_btns ">
            <br>  <br>
            <button type="button" (click)="showLoginForm()">Login</button>
            <hr style="width: 40%;">
          </div>
        </div>
        <div class="col-6 main_img" >
             <img src="https://cdn.pixabay.com/photo/2020/05/18/16/17/social-media-5187243_1280.png">
        </div>
    </div>
</div>


<br>
<br>
<hr style="width: 100%;">

<div class="login_form container" *ngIf="loginFormVisible">
<h3 style="text-decoration: underline; font-family: 'Times New Roman', Times, serif;">Admin Login </h3>
  <hr style="width: 100%;">


    <form [formGroup]='logFormAdmin' (ngSubmit)="login()">

        <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" formControlName="username"
            [ngClass]="{'is-invalid':logControls.username.errors && issubmitted}">
            <div style="color:red" *ngIf="logControls.username.errors?.required && issubmitted">Username is required</div>
         


           
        
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password"
          [ngClass]="{'is-invalid':logControls.username.errors && issubmitted}">
          <div style="color:red" *ngIf="logControls.password.errors?.required && issubmitted">
            Password is required
        </div>

        </div>

        <br>

        <button type="submit" class="btn btn-warning">login</button>
    </form>

</div>



